.slider_bg {
  background: no-repeat center/cover;
  width: 100vw;
  height: 100vh;
}
.bg1 {
  background-image: url("imgs/slider1.png");
}
.bg2 {
  background-image: url("imgs/slider2.png");
}
.bg3 {
  background-image: url("imgs/slider3.png");
}
.main_text_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

